body {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

html{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
